<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
    MyBenefitsLab - Your Lab. Your Benefit. Your Health.</title>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="MyBenefitsLab" />
<meta name="keywords" content="MyBenefitsLab" />
<meta name="robots" content="INDEX,FOLLOW" />
<link rel="icon" href="http://mybenefitslab.com/media/favicon/stores/82/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="http://mybenefitslab.com/media/favicon/stores/82/favicon.ico" type="image/x-icon" />
<meta name="p:domain_verify" content="e046baa8afb5e109fddad24d0bf16b49"/>

<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=Open+Sans|Dosis:400,200" rel="stylesheet" type="text/css">

<!--[if lt IE 7]>
<script type="text/javascript">
    //<![CDATA[
    var BLANK_URL = 'http://mybenefitslab.com/js/blank.html';
    var BLANK_IMG = 'http://mybenefitslab.com/js/spacer.gif';
//]]>
</script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/mybenefits/site_home.css" media="all" />
<script type="text/javascript" src="/mybenefits/site_home.js"></script>

<script type="text/javascript">
//<![CDATA[
Mage.Cookies.path     = '/';
Mage.Cookies.domain   = '.mybenefitslab.com';
//]]>
</script>

<script type="text/javascript">
//<![CDATA[
optionalZipCountries = [];
//]]>
</script>
<!-- BEGIN GOOGLE ANALYTICS CODEs -->
<script type="text/javascript">
//<![CDATA[
    var _gaq = _gaq || [];
    
_gaq.push(['_setAccount', 'UA-70487187-1']);

_gaq.push(['_trackPageview']);
    
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

//]]>
</script>
<!-- END GOOGLE ANALYTICS CODE -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script type="text/javascript">//<![CDATA[
        var Translator = new Translate([]);
        //]]></script></head>
<body class=" cms-index-index cms-home-page">

        <noscript>
        <div class="global-site-notice noscript">
            <div class="notice-inner">
                <p>
                    <strong>JavaScript seems to be disabled in your browser.</strong><br />
                    You must have JavaScript enabled in your browser to utilize the functionality of this website.                </p>
            </div>
        </div>
    </noscript>
	<div class="container">
         
    <header class="clearfix custom_row margin_tb hero_unit">
	<div class="row padding_b">
        <div class="logo_container grid_column_30 margin_right medium-8 small-12 large-4 columns">
        <a href="http://mybenefitslab.com/mybenefitslab_storeview/" title="MyBenefitsLab LLC" class="logo"><img src="http://mybenefitslab.com/skin/frontend/boilerplate/default/images/logo-mbl.png" alt="MyBenefitsLab LLC" class="responsive" /></a>
        </div>
        <i class="icon ion-navicon-round menu_icon"></i>
        <div class="grid_column_50 small-12 medium-9 large-6 columns menu_visibility text-center">
            <ul class="menu clearfix">
		     <li><a href="http://mybenefitslab.com/mybenefitslab_storeview/about-us/" >About Us</a></li>
			 
	     <li><a href="http://mybenefitslab.com/mybenefitslab_storeview/wellness-tools/" >wellness tools</a></li>
            <li><a href="http://mybenefitslab.com/mybenefitslab_storeview/why-me/" >why me</a></li>
	    <li><a href="http://mybenefitslab.com/mybenefitslab_storeview/shop/">SHOP</a></li>
	    <li><a href="http://mybenefitslab.com/mybenefitslab_storeview/contacts/">contact</a></li>
            </ul>
        </div>
        <div class="top_links grid_column_15 float_right small-12 medium-3 large-2 columns">
            <ul class="horizontal_list link_menu clearfix" style="display:inline;">
            		
                <li><a href="/app.php/profile">login</a></li>
                <li><a href="/app.php/register">signup</a></li>
                  
            </ul>
        </div>
	<div class="top_links grid_column_15 float_right small-12 medium-3 large-2 columns">
	    <div style="text-align:center;">or</div>
	    <div style="text-align:center;">
	    <a class="show_now" href="http://mybenefitslab.com/mybenefitslab_storeview/shop/"><b>SHOP NOW!</b></a>
	    </div>
	</div>
	</div>
    </header>
        <script type="text/javascript">
    function redirect_register()
    {
	var url = "http://mybenefitslab.com/mybenefitslab_storeview/customer/account/create/";
	window.location.href = url;
    }
    function redirect_login()
    {
	var url = "http://mybenefitslab.com/mybenefitslab_storeview/customer/account/login/";
	window.location.href = url;
    }
    /*document.getElementById("mylogin").onclick = function () {
        location.href = "";
    };
    document.getElementById("myregister").onclick = function () {
        location.href = "";
    };*/
    </script>
    <div class="hero_unit clearfix margin_tb custom_row padding_tb">
	<div class="row">
        <article class="small-12 large-5 medium-6 columns margin_t">
            <div class="iblock align_center">
                <h2 class="heading_4">Online Wellness at Your Fingertips</h2>
                <p class="margin_t">
                    Our wellness dashboard provides you with the tools you need to check and monitor your health on your schedule and at a price you can afford.
                </p>
                <ul class="link_menu clearfix iblock normal_link horizontal_list margin_t">
                    <li class="left margin_r"><a href="javascript:void(0);">join now</a></li>
                    <li class="left sec_wel"><a href="javascript:void(0);">welcome back</a></li>
                </ul>
                <div class="margin_top margin_t clearfix">
                    <button onClick="return redirect_register();" class="normal_btn iblock caps margin_right left margin_r">
                        <span>
                            <span>create a new account</span>
                        </span>
                    </button>
                    <button onClick="return redirect_login();" class="normal_btn iblock caps left">
                        <span>
                            <span>log in</span>
                        </span>
                    </button>
                </div>
            </div>
        </article>
        <article class="small-12 large-7 medium-6 columns">
            <img src="http://mybenefitslab.com/skin/frontend/boilerplate/newmrc/img/devices.png" width="1354" height="691" class="responsive show-for-medium-up"/>
        </article>
        </div>
    </div>
                    </div>
        <div class="main-container col1-layout">
            <div class="main">
                <div class="col-main">
                                        <div class="std"><p><div class="hero_unit">

<h1 class="heading_1 caps hero_heading_1 text-center margin_tb">Take Control of Your Own Health</h1>

<div class="clearfix margin_t row custom_row container">

<div class="small-12 large-4 medium-4 columns margin_t_large">

<h2 class="heading_3">Are you Healthy? Are you Sure?</h2>

<p class="normal_text no_padding margin_t">Find out now, if you have a health disorder or disease before it is too late. More than half of all Americans have some form of chronic disease. Do you? No excuses, find out now.</p>

<a class="normal_link no_padding margin_top" href="http://mybenefitslab.com/mybenefitslab_storeview/why-me#daap">SEE how we can keep you healthy &gt;</a></div>

<div class="small-12 large-4 medium-4 columns sm_margin_top"><img class="responsive padding_lr_medium" src="http://mybenefitslab.com/skin/frontend/boilerplate/newmrc/img/take_care.png" alt="" width="736" height="736" /></div>

<div class="small-12 large-4 medium-4 columns margin_t_large">

<h2 class="heading_3">Improve Your Quality of Life</h2>

<p class="normal_text no_padding margin_t">Conditions such as unbalanced hormones, vitamin levels and other disorders can make you feel tired, unmotivated, depressed and have many other negative impacts on your quality of life.</p>

<a class="normal_link no_padding margin_top" href="http://mybenefitslab.com/mybenefitslab_storeview/why-me#daap">IMPROVE YOUR LIFE TODAY &gt;</a></div>

</div>

<div class="text-center mt40"><a class="ribbon_shop_now" href="http://mybenefitslab.com/mybenefitslab_storeview/shop/">&nbsp;</a></div>

</div>

<div class="hero_unit">

<h1 class="heading_1 caps hero_heading_1 text-center margin_tb">Use Our Wellness Tools to keep you Healthy</h1>

<div class="clearfix margin_t row custom_row container">

<div class="small-12 large-5 medium-5 columns"><img class="responsive" src="http://mybenefitslab.com/skin/frontend/boilerplate/newmrc/img/img1.png" alt="" width="740" height="740" />

<h2 class="heading_3 margin_t padding_lr">Order Your Wellness Blood Tests</h2>

<p class="normal_text padding_lr margin_t">Did you know that your blood tells the majority of the story of your health? Now you can order the wellness blood tests that you want from your computer, tablet or smartphone without having to visit your doctor.</p>

<a class="normal_link padding_lr margin_top" href="http://mybenefitslab.com/mybenefitslab_storeview/wellness-tools#owbt">Find out more &gt;</a></div>

<div class="small-12 large-5 medium-5 large-offset-2 columns sm_margin_top"><img class="responsive" src="http://mybenefitslab.com/skin/frontend/boilerplate/newmrc/img/img2.png" alt="" width="740" height="740" />

<h2 class="heading_3 margin_t padding_lr">Access Our Physicians Online</h2>

<p class="normal_text padding_lr margin_t">Don&rsquo;t have time to visit the doctor but want answers? Speak with one of our online physicians and discuss any medical or wellness questions you have. No lines, no frustration, just answers.</p>

<a class="normal_link padding_lr margin_top" href="http://mybenefitslab.com/mybenefitslab_storeview/wellness-tools#doc_chat">find out more &gt;</a></div>

</div>

<div class="text-center mt40"><a class="ribbon_shop_now" href="http://mybenefitslab.com/mybenefitslab_storeview/shop/">&nbsp;</a></div>

</div></p>

<div class="hero_unit blue_bg padding_tb">

<div class="hero_slider row">

<div class="clearfix row custom_row padding_lr">

<div class="small-12 large-4 medium-4 medium-offset-1 large-offset-1 margin_t columns"><img class="responsive show-for-medium-up" src="http://mybenefitslab.com/skin/frontend/boilerplate/newmrc/img/slide1.png" alt="" width="669" height="716" /></div>

<div class="small-12 large-6 medium-6 columns margin_t_large">

<h2 class="heading_3  margin_t padding_lr">Understand Your Results</h2>

<p class="normal_text padding_lr margin_t">All of our blood test results are graphically displayed in such a way that you can understand your current health picture as well as your overall health trend. Also, our virtual doctors are available 24/7 to discuss your test results or any medical questions or concerns you may have. Your health, your way.</p>

<a class="normal_link padding_lr margin_top" href="http://mybenefitslab.com/mybenefitslab_storeview/wellness-tools#trcu"> Your Results &gt;</a></div>

</div>

<div class="clearfix row custom_row padding_lr">

<div class="small-12 large-4 medium-4 medium-offset-1 large-offset-1 margin_t columns"><img class="responsive show-for-medium-up" src="http://mybenefitslab.com/skin/frontend/boilerplate/newmrc/img/slide2.png" alt="" width="591" height="504" /></div>

<div class="small-12 large-6 medium-6 columns margin_t_large">

<h2 class="heading_3  margin_t  padding_lr">Use Your Results</h2>

<p class="normal_text padding_lr margin_t">Now you can order blood tests to see the actual effects that your wellness effort or lifestyle change is actually having on your health. Our side-by-side, easy-to-understand graphical blood test results allow you to see your health trending real-time with a diet plan, fitness regiment, wellness program or overall lifestyle change.</p>

<a class="normal_link padding_lr margin_top" href="http://mybenefitslab.com/mybenefitslab_storeview/wellness-tools#trcu">Results to Action &gt; </a></div>

</div>

</div>

</div>

<div class="container">

<div class="hero_unit">

<h1 class="heading_1 caps hero_heading_1 text-center margin_t">Save Your Time &amp; Money</h1>

<div class="clearfix margin_t row custom_row">

<div class="small-5 large-5 medium-5 columns no_padding pos_relative rotator_img">

<div class="flipper"><img class="front anim" src="http://mybenefitslab.com/skin/frontend/boilerplate/newmrc/img/save1.png" alt="" width="775" height="776" />

<div class="responsive_rotator anim back">

<div class="rotator_inner">

<div>

<p>All of our wellness services are heavily discounted so you can afford to stay healthy. Also, no doctor visit means no co-pay, deductible or travel expenses. Be an informed consumer, save your money and take control of your health now.</p>

<a class="normal_link padding_lr margin_top" href="http://mbl.emotionsmirror.com/default/why-me#stm">See how we save your money &gt;</a></div>

</div>

</div>

</div>

</div>

<div class="small-5 large-5 medium-5 small-offset-2 medium-offset-2 large-offset-2 columns no_padding pos_relative rotator_img">

<div class="flipper"><img class="front anim" src="http://mybenefitslab.com/skin/frontend/boilerplate/newmrc/img/save2.png" alt="" width="776" height="776" />

<div class="responsive_rotator anim back">

<div class="rotator_inner">

<div>

<p>All of our wellness services are accessible from your computer, tablet or smartphone. No waiting to schedule a doctor visit, no lines at the doctor office, and no aggravation. You are in control of your own health, on your schedule.</p>

<a class="normal_link padding_lr margin_top" href="http://mbl.emotionsmirror.com/default/why-me#stm">See how we save your time &gt;</a></div>

</div>

</div>

</div>

</div>

</div>

<div class="row">

<div class="small-12 large-9 medium-6 columns medium-centered mt40 margin_tb">

<div class="row">

<div class="small-12 medium-3 large-3 columns mt40"><img class="umbrel" src="http://mybenefitslab.com/skin/frontend/boilerplate/newmrc/img/umbrella-hi.png" alt="" /></div>

<div class="small-12 medium-9 large-9 columns">

<h2 class="heading_3  margin_t padding_lr">Insured or Not, We Make Sense for You</h2>

<p class="normal_text padding_lr margin_t">If you are insured, our prices are often lower than your co-pay and deductible. With us, however, you also save precious time.</p>

<p class="normal_text padding_lr margin_t">If you are not insured or are on an HRA, HSA, FSA or other plan,we can provide your wellness needs within your budget.</p>

<a class="normal_link padding_lr margin_top" href="http://mbl.emotionsmirror.com/default/why-me#stm">find out more info &gt; </a></div>

</div>

</div>

</div>

<div class="text-center mt40"><a class="ribbon_shop_now" href="http://mybenefitslab.com/mybenefitslab_storeview/shop/">&nbsp;</a></div>

</div>

</div>

<div class="girl_bg">

<div class="girl_hero_bg row">

<h1 id="miac" class="heading_1 caps hero_heading_1 text-center">Medical Information Access &amp; Confidentiality</h1>

<div class="row custom_row mt40">

<div class="small-12 large-6 columns padding_lr">

<h2 class="heading_3 padding_lr">Access Your Records Directly 24/7</h2>

<p class="normal_text padding_lr margin_t">All of your test results and doctor consultations are always available to you 24/7 using your personal secure login. You can take them to a doctor appointment or compare them on our system side by side to see your health trend in real time.</p>

<a class="normal_link padding_lr margin_top" href="http://mybenefitslab.com/mybenefitslab_storeview/why-me#micac">Your Records &gt; </a></div>

</div>

<div class="row custom_row mt40">

<div class="small-12 large-6 columns  padding_lr">

<h2 class="heading_3 padding_lr">Your Results Are for Your Eyes Only</h2>

<p class="normal_text padding_lr margin_t">All of our wellness services are completely private and confidential. Feel secure that all of your blood tests will not be seen by your employer, insurer or anyone else you do not elect to share with.</p>

<a class="normal_link padding_lr margin_top" href="http://mybenefitslab.com/mybenefitslab_storeview/why-me#micac">Your Privacy &gt; </a></div>

</div>

</div>

</div></div>                </div>
            </div>
        </div>
        
	<div class="container dblue_bg clearfix" style="height:80px;padding-top:25px;">

    <!--<div class="padding_tb margin_tb text-center white_hero">
    <div class="row">
        <p class="small_text padding_lr margin_none">MyBenefitsLab LLC is not the actual provider of the wellness services or products available at this website. MyBenefitsLab LLC provides its clients access to this wellness platform via this website. MyBenefitsLab provides all third party wellness services and products available at this website. MyBenefitsLab LLC is not responsible for any services or products purchased at this website. </p>
    </div>
    </div>-->
    

    <div class="row custom_row">
        <div class="small-12 large-5 columns copyright">&copy; 2015 All Right Reserved MyBenefitsLab LLC</div>
        <div class="small-12 large-5 columns terms_agreement_list">
            <ul class="horizontal_list policy_list">
                <li><a href="http://mybenefitslab.com/mybenefitslab_storeview/privacy-policy/">Privacy Policy</a></li>
                <li><a href="http://mybenefitslab.com/mybenefitslab_storeview/terms-and-conditions/">Terms &amp; Conditions</a></li>
                <li><a href="http://mybenefitslab.com/mybenefitslab_storeview/hipaa-notice/">HIPPA Policy</a></li>
                <li><a href="http://mybenefitslab.com/mybenefitslab_storeview/contacts/">Contact Us</a></li>
            </ul>
        </div>
        <div class="small-12 large-2 columns text-right social_list">
            <ul class="horizontal_list social_links">
                <li><a href="#" class="list_icon ion-social-linkedin"></a></li>
                <li><a href="https://twitter.com/mybenefitslab" target="_blank" class="list_icon ion-social-twitter"></a></li>
                <li><a href="https://www.facebook.com/MyBenefitsLab" target="_blank" class="list_icon ion-social-facebook"></a></li>
                <li><a href="#" class="list_icon ion-social-instagram"></a></li>
            </ul>
        </div>
    </div>
</div>                

    </div>
</div>
</body>
</html>
