{% extends "::base.html.twig" %} 

{% block title %} List Archives {% endblock %}

{% block body %}
 <video id="my-video-vjs-playlist" class="video-js vjs-track" controls preload="auto"  data-setup="{}">
    <source src="{{baseweb}}{{sigweb}}" type='video/mp4'>
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>
 
    <div id="video3"></div>
{% endblock %}
