{% extends "::base.html.twig" %}

{% block title %}Create Collaborich Webinar{% endblock %}

{% block body %}
<h3>Create Webinar</h3>

{{ form_start(form) }}
    {{ form_widget(form) }}

    <input type="submit" />
{{ form_end(form) }}

{% endblock %}
